.numberWidth{
    width: 10% !important;
}
.numberCenter{
    text-align: center !important;
}
.billWidth{
    width: 4% !important;
    text-align: center !important;
}
.selectWidth{
    width: 15% !important;
}